# 
# LastChangedDate: 2018-05-04 10:00:00 +0100
# $Revision: 4242 $
# https://docs.oracle.com/javase/8/docs/technotes/guides/deploy/properties.html
# /etc/.java/deployment/deployment.config

deployment.system.config=/etc/.java/deployment/deployment.properties
deployment.system.config.mandatory=true